*.[oa]
*~
*.swp
jurassic-scatter/lib/*
jurassic-scatter/docu/jurassic.aux
jurassic-scatter/docu/jurassic.blg
jurassic-scatter/docu/jurassic.log
jurassic-scatter/docu/jurassic.out
jurassic-scatter/docu/jurassic.toc
jurassic-scatter/src/brightness
jurassic-scatter/src/climatology
jurassic-scatter/src/formod
jurassic-scatter/src/interpolate
jurassic-scatter/src/kernel
jurassic-scatter/src/limb
jurassic-scatter/src/nadir
jurassic-scatter/src/planck
jurassic-scatter/src/raytrace
jurassic-scatter/src/retrieval
jurassic-scatter/src/tab2bin
jurassic-scatter/testing/
jurassic/
reference_projects/
