# please do not check in binaries
limb
obs2spec
formod
multi_atm_formod
sca_formod
nadir
jsec2time
climatology
planck
hash
time2jsec
memoryinfo
libutil.a
*.d
*.o
modules
module_brightness
module_climatology
module_interpolate
module_limb
module_nadir
module_planck
